<template name="home">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Rooms</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            {{#each rooms}}
              <a href="{{pathFor 'room'}}" class="list-group-item">
                <span class="{{highlightClass}} glyphicon glyphicon-chevron-right"></span>
                {{name}}
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Users</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            {{#each users}}
              <a href="#" class="ca-nasty-fake-btn list-group-item">
                <span class="glyphicon glyphicon-user" style="color: {{userColor}};"></span>
                {{name}}
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>