<template name="room">
  <div class="ca-room center-block">
    <ul class="list-unstyled">
      {{#if hasMoreMessages}}
        <li class="ca-room-load-more">
          <a href="{{moreMessagesPath}}">Load more <i class="glyphicon glyphicon-arrow-up"></i></a>
        </li>
      {{/if}}

      {{#each groupedMessages}}
        <li class="ca-room-message">
          <blockquote class="{{blockquoteClass}}" style="border-color: {{userColor}};">
            {{#each lines}}
              <p>{{this}}</p>
            {{/each}}
            <small>{{#if isNotMine}}{{sender.userName}}{{else}}<strong>me</strong>{{/if}}, {{dateAsTimeAgo timestamp}}</small>
          </blockquote>
        </li>
      {{/each}}
    </ul>


    <form class="form-inline" role="form">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="text" placeholder="...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-chevron-right"></span></button>
          </span>
        </div>
      </div>
    </form>
  </div>
</template>