.ca-room-message {
  clear: both;
}

.ca-room {
  margin-bottom: 20px;
  position: relative;
  top: -20px;
}

.ca-room > ul{
  padding-right: 2px;
  height: 500px;
  overflow-y: auto;
}

.ca-room > form {
  clear: both;
}

.ca-room {
  max-width: 720px;
}

.ca-room-load-more {
  text-align:center;
}